<link rel="stylesheet" href="/css/styles.css" xmlns:th="http://www.w3.org/1999/xhtml">

<header>
    <ol>
        <li>Round 1 <br/><span>Mar 15/16</span></li>
        <li>Round 2 <br/><span>Mar 17/18</span></li>
        <li>Sweet 16 <br/><span>Mar 22/23</span></li>
        <li>Elite 8 <br/><span>Mar 24/25</span></li>
        <li>Final 4 <br/><span>Mar 31/Apr 2</span></li>
        <li>Elite 8 <br/><span>Mar 24/25</span></li>
        <li>Sweet 16<br/><span>Mar 22/23</span></li>
        <li>Round 2 <br/><span>Mar 17/18</span></li>
        <li>Round 1 <br/><span>Mar 15/16</span></li>
    </ol>
</header>
<div class="legend">
    <span th:each="participant : ${participants}"
          th:text="${participant.name}"
          th:style="'background-color:' + ${participant.color}">
    </span>
</div>
<div class="bracket">
    <div class="region region-1">
        <!-- Region 1 Round 1-->
        <ul class="matchup matchup-1">
            <li class="team team-top">1 Virginia</li>
            <li class="team team-bottom winner">16 UMBC</li>
        </ul>

        <ul class="matchup matchup-2">
            <li class="team team-top">8 Creighton</li>
            <li class="team team-bottom winner">9 Kansas State</li>
        </ul>

        <ul class="matchup matchup-3">
            <li class="team team-top winner">5 Kentucky</li>
            <li class="team team-bottom">12 Davidson</li>
        </ul>

        <ul class="matchup matchup-4">
            <li class="team team-top">4 Arizona</li>
            <li class="team team-bottom winner">13 Buffalo</li>
        </ul>

        <ul class="matchup matchup-5">
            <li class="team team-top">6 Miami</li>
            <li class="team team-bottom winner">11 Loyala-Chicago</li>
        </ul>

        <ul class="matchup matchup-6">
            <li class="team team-top winner">3 Tennessee</li>
            <li class="team team-bottom">14 Wright State</li>
        </ul>

        <ul class="matchup matchup-7">
            <li class="team team-top winner">7 Nevada</li>
            <li class="team team-bottom">10 Texas</li>
        </ul>

        <ul class="matchup matchup-8">
            <li class="team team-top winner">2 Cinncinati</li>
            <li class="team team-bottom">15 Georgia State</li>
        </ul>

        <!-- Region 1 Round 2 -->
        <ul class="matchup matchup-33">
            <li class="team team-top">16 UMBC</li>
            <li class="team team-bottom winner">9 Kansas State</li>
        </ul>

        <ul class="matchup matchup-34">
            <li class="team team-top winner">5 Kentucky</li>
            <li class="team team-bottom">13 Buffalo</li>
        </ul>

        <ul class="matchup matchup-35">
            <li class="team team-top winner">11 Loyala-Chicago</li>
            <li class="team team-bottom">3 Tennessee</li>
        </ul>

        <ul class="matchup matchup-36">
            <li class="team team-top winner">7 Nevada</li>
            <li class="team team-bottom">2 Cincinnati</li>
        </ul>

        <!-- Region 1 Sweet 16 -->
        <ul class="matchup matchup-49">
            <li class="team team-top winner">9 Kansas State</li>
            <li class="team team-bottom">5 Kentucky</li>
        </ul>
        <ul class="matchup matchup-50">
            <li class="team team-top winner">11 Loyola-Chicago</li>
            <li class="team team-bottom">7 Nevada</li>
        </ul>
        <!-- End Region 1 Sweet 16 -->

        <!-- Region 1 Final -->
        <ul class="matchup matchup-57">
            <li class="team team-top">9 Kansas State</li>
            <li class="team team-bottom winner">11 Loyola-Chicago</li>
        </ul>

    </div>
    <div class="region-2 region">
        <!-- Region 2 Round 1 -->
        <ul class="matchup matchup-9">
            <li class="team team-top winner">1 Xavier</li>
            <li class="team team-bottom">16 Texas Southern</li>
        </ul>

        <ul class="matchup matchup-10">
            <li class="team team-top">8 Missouri</li>
            <li class="team team-bottom winner">9 Florida State</li>
        </ul>

        <ul class="matchup matchup-11">
            <li class="team team-top winner">5 Ohio State</li>
            <li class="team team-bottom">12 South Dakota St</li>
        </ul>

        <ul class="matchup matchup-12">
            <li class="team team-top winner">4 Gonzaga</li>
            <li class="team team-bottom">13 UNC-Greensboro</li>
        </ul>

        <ul class="matchup matchup-13">
            <li class="team team-top winner">6 Houston</li>
            <li class="team team-bottom">11 San Diego State</li>
        </ul>

        <ul class="matchup matchup-14">
            <li class="team team-top winner">3 Michigan</li>
            <li class="team team-bottom">14 Montana</li>
        </ul>

        <ul class="matchup matchup-15">
            <li class="team team-top winner">7 Texas A&M</li>
            <li class="team team-bottom">10 Providence</li>
        </ul>

        <ul class="matchup matchup-16">
            <li class="team team-top winner">2 North Carolina</li>
            <li class="team team-bottom">15 Lipscomb</li>
        </ul>
        <!-- End Region 2 Round 1 -->

        <!-- Region 2 Round 2 -->
        <ul class="matchup matchup-37">
            <li class="team team-top">1 Xavier</li>
            <li class="team team-bottom winner">9 Florida State</li>
        </ul>

        <ul class="matchup matchup-38">
            <li class="team team-top">5 Ohio State</li>
            <li class="team team-bottom winner">4 Gonzaga</li>
        </ul>

        <ul class="matchup matchup-39">
            <li class="team team-top">6 Houston</li>
            <li class="team team-bottom winner">3 Michigan</li>
        </ul>

        <ul class="matchup matchup-40">
            <li class="team team-top winner">7 Texas A&M</li>
            <li class="team team-bottom">2 North Carolina</li>
        </ul>
        <!-- End Region 2 Round 2 -->

        <!-- Region 2 Sweet 16 -->
        <ul class="matchup matchup-51">
            <li class="team team-top winner">9 Florida State</li>
            <li class="team team-bottom">4 Gonzaga</li>
        </ul>
        <ul class="matchup matchup-52">
            <li class="team team-top winner">3 Michigan</li>
            <li class="team team-bottom">7 Texas A&M</li>
        </ul>
        <!-- End Region 2 Sweet 16 -->

        <!-- Region 2 Final -->
        <ul class="matchup matchup-58">
            <li class="team team-top">9 Florida State</li>
            <li class="team team-bottom winner">3 Michigan</li>
        </ul>

    </div>
    <div class="region-3 region">

        <!-- Region 3 Round 1 -->
        <ul class="matchup matchup-17">
            <li class="team team-top winner">1 Villanova</li>
            <li class="team team-bottom">16 Radford</li>
        </ul>

        <ul class="matchup matchup-18">
            <li class="team team-top">8 Virginia Tech</li>
            <li class="team team-bottom winner">9 Alabama</li>
        </ul>

        <ul class="matchup matchup-19">
            <li class="team team-top winner">5 West Virginia</li>
            <li class="team team-bottom">12 Murray State</li>
        </ul>

        <ul class="matchup matchup-20">
            <li class="team team-top">4 Wichita State</li>
            <li class="team team-bottom winner">13 Marshall</li>
        </ul>

        <ul class="matchup matchup-21">
            <li class="team team-top winner">6 Florida</li>
            <li class="team team-bottom">11 St. Bonaventure</li>
        </ul>

        <ul class="matchup matchup-22">
            <li class="team team-top winner">3 Texas Tech</li>
            <li class="team team-bottom">14 SF Austin</li>
        </ul>

        <ul class="matchup matchup-23">
            <li class="team team-top">7 Arkansas</li>
            <li class="team team-bottom winner">10 Butler</li>
        </ul>

        <ul class="matchup matchup-24">
            <li class="team team-top winner">2 Purdue</li>
            <li class="team team-bottom">15 CSU Fullerton</li>
        </ul>
        <!-- End Region 3 Round 1 -->

        <!-- Region 3 Round 2 -->
        <ul class="matchup matchup-41">
            <li class="team team-top winner">1 Villanova</li>
            <li class="team team-bottom">9 Alabama</li>
        </ul>

        <ul class="matchup matchup-42">
            <li class="team team-top winner">5 West Virginia</li>
            <li class="team team-bottom">13 Marshall</li>
        </ul>

        <ul class="matchup matchup-43">
            <li class="team team-top">6 Florida</li>
            <li class="team team-bottom winner">3 Texas Tech</li>
        </ul>

        <ul class="matchup matchup-44">
            <li class="team team-top">10 Butler</li>
            <li class="team team-bottom winner">2 Purdue</li>
        </ul>
        <!-- End Region 3 Round 2 -->
        <!-- Region 3 Sweet 16 -->
        <ul class="matchup matchup-53">
            <li class="team team-top winner">1 Villanova</li>
            <li class="team team-bottom">5 West Virginia</li>
        </ul>
        <ul class="matchup matchup-54">
            <li class="team team-top winner">3 Texas Tech</li>
            <li class="team team-bottom">2 Purdue</li>
        </ul>
        <!-- Region 3 Final -->
        <ul class="matchup matchup-59">
            <li class="team team-top winner">1 Villanova</li>
            <li class="team team-bottom">3 Texas Tech</li>
        </ul>
    </div>

    <div class="region-4 region">
        <!-- Region 4 Round 1 -->
        <ul class="matchup matchup-25">
            <li class="team team-top winner">1 Kansas</li>
            <li class="team team-bottom">16 Penn</li>
        </ul>

        <ul class="matchup matchup-26">
            <li class="team team-top winner">8 Seton Hall</li>
            <li class="team team-bottom">9 NC State</li>
        </ul>

        <ul class="matchup matchup-27">
            <li class="team team-top winner">5 Clemson</li>
            <li class="team team-bottom">12 Nex Mexico State</li>
        </ul>

        <ul class="matchup matchup-28">
            <li class="team team-top winner">4 Auburn</li>
            <li class="team team-bottom">13 Charleston</li>
        </ul>

        <ul class="matchup matchup-29">
            <li class="team team-top">6 TCU</li>
            <li class="team team-bottom winner">11 Syracuse</li>
        </ul>

        <ul class="matchup matchup-30">
            <li class="team team-top winner">3 Michigan State</li>
            <li class="team team-bottom">14 Bucknell</li>
        </ul>

        <ul class="matchup matchup-31">
            <li class="team team-top winner">7 Rhode Island</li>
            <li class="team team-bottom">10 Oklahoma</li>
        </ul>

        <ul class="matchup matchup-32">
<!--        &lt;!&ndash;TODO need to fix this&ndash;&gt;-->
<!--            <li class="team team-top"-->
<!--                th:text="${team.name}"-->
<!--                th:style="${teamColorMap[team.id]} != null ? 'background-color:' + ${teamColorMap[team.id]} + '; color:white;' : ''">-->
<!--            2 Duke</li>-->
            <li class="team team-top winner">2 Duke</li>
            <li class="team team-bottom">15 Iona</li>
        </ul>
        <!-- End Region 4 Round 1 -->

        <!-- Region 4 Round 2 -->
        <ul class="matchup matchup-45">
            <li class="team team-top winner">1 Kansas</li>
            <li class="team team-bottom">8 Seton Hall</li>
        </ul>

        <ul class="matchup matchup-46">
            <li class="team team-top winner">5 Clemson</li>
            <li class="team team-bottom">4 Auburn</li>
        </ul>

        <ul class="matchup matchup-47">
            <li class="team team-top winner">11 Syracuse</li>
            <li class="team team-bottom">3 Michigan State</li>
        </ul>

        <ul class="matchup matchup-48">
            <li class="team team-top">7 Rhode Island</li>
            <li class="team team-bottom winner">2 Duke</li>
        </ul>
        <!-- End Region 4 Round 2 -->
        <!-- Region 4 Sweet 16 -->
        <ul class="matchup matchup-55">
            <li class="team team-top winner">1 Kansas</li>
            <li class="team team-bottom">5 Clemson</li>
        </ul>
        <ul class="matchup matchup-56">
            <li class="team team-top">11 Syracuse</li>
            <li class="team team-bottom winner">2 Duke</li>
        </ul>
        <!-- End Region 4 Sweet 16 -->
        <!-- Region 4 Final -->
        <ul class="matchup matchup-60">
            <li class="team team-top winner">1 Kansas</li>
            <li class="team team-bottom">2 Duke</li>
        </ul>
    </div>
    <div class="final-four">
        <!-- Final Four Game 1-->
        <ul class="matchup matchup-61">
            <li class="team team-top">11 Loyola-Chicago</li>
            <li class="team team-bottom winner">3 Michigan</li>
        </ul>
        <!-- Final Four Game 2-->
        <ul class="matchup matchup-62">
            <li class="team team-top winner">1 Villanova</li>
            <li class="team team-bottom ">1 Kansas</li>
        </ul>

        <ul class="matchup championship">
            <li class="team team-top">3 Michigan</li>
            <li class="team team-bottom winner">1 Villanova</li>
        </ul>
    </div>
</div>